body{
  background-color: blueviolet;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  font-size: 48px;
  margin-top: 5%;
  text-align: center;
  color: beige;
}
.loremForm{
  text-align: center;
  font-size: 25px;
  color: beige;
}
.no-of-para{
  width: 50px;
  /* padding: 5px; */
  border-radius: 5px;
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.gen{
  /* padding: 8px; */
  padding: 7px 18px;
font-size: 22px;
text-align: center;
cursor: pointer;
outline: none;
  background-color:chocolate;
  border: none;
  color: white;
  border-radius: 12px;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 18px; */
}
.gen:hover {background-color:plum}

.lorem-text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
  /* text-align: center; */
  text-align: justify;
  margin: 4%;
  color: beige;
  
}